input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bar-inner-right,
.bar-inner-left,
.bar {
  background-color: red;
}
.multi-range-slider .thumb::before {
  background-color: red;
}
.multi-range-slider {
  box-shadow: 1px 1px 4px gray;
  border-radius: 4px;
  border: none;
}
